@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

iframe {
  display: none;
}

.teacher-cabinet {
  width: 100% !important;
  height: 100vh;
  top: 0 !important;
  bottom: 0 !important;
  padding: 0;
  max-width: unset;
  margin: 0px;
}

.teacher-cabinet .ant-modal-content {
}

.teacher-cabinet .ant-modal-body {
  height: 91.4vh;
  overflow-y: auto;
}
